<%= form_with model:[:admin,@genre], local: true do |f| %>
  <%= f.label  :name, "ジャンル名" %>
  <%= f.text_field :name %>
  <%= f.submit "新規登録" %>
<% end %>

<% @genres.each do |genre| %>
  <table>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "編集",edit_admin_genre_path(genre.id) %></td>
      <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete %></td>
    </tr>
  </table>
<% end %>