<div class="container">
  <div class="row">
    <div class="col">
      <h5>投稿編集</h5>
      <%= form_with model: @post, url: admin_post_path do |f| %>
        <table class="table table-borderless">
          <tr>
            <td class="col-3">タイトル</td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td class="col-3">ジャンル</td>
            <td><%= f.collection_select(:genre_id, Genre.all, :id, :name) %></td>
          </tr>
          <tr>
            <td class="col-3">本文</td>
            <td><%= f.text_area :text %></td>
          </tr>
          <tr>
            <td class="col-3">タグ</td>
            <td><%= f.text_field :name,value: @tags,class:"form-control"%></td>
          </tr>
          <tr>
            <td><%= f.submit "変更を保存", class: "btn btn-sm btn-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>