<%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>
<% if @users.present? %>
  <% @users.each do |user| %>
    <%= user.id %>
    <%= user.name %>
  <% end %>
<% else %>
  <p>検索結果はありません</p>
<% end %>