<div class="container">
  <div class="row">
    <div class="col">
      <% if @post.errors.any? %>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <h4>新規投稿</h4>
      <%= form_with model: @post, local: true do |f| %>
        <table class="table table-borderless">
          <tr>
            <div class="form-group">
              <td><%= f.label :title,"タイトル" %></td>
              <td><%= f.text_field :title %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td><%= f.label :genre,"ジャンル" %></td>
              <td><%= f.collection_select(:genre_id, Genre.all, :id, :name) %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td><%= f.label :text,"本文" %></td>
              <td><%= f.text_area :text %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td><%= f.label :tag,"タグ付け" %></td>
              <td><%= f.text_area :name, placeholder:",で区切ると複数タグ付けができます"  %></td>
            </div>
          </tr>
        </table>
        <div class="text-center">
          <%= f.submit "投稿", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>