<table>
  <tr>
    <td>
      <%= link_to user_path(@post.user.id) do %>
        <%= @post.user.name %>
      <% end %>
    </td>
    <td><%= @post.title %></td>
    <td><%= @post.genre.name %></td>
    <td><%= @post.text %></td>
    <td><%= link_to "編集", edit_post_path(@post.id) %></td>
    <td><%= link_to "削除", post_path(@post.id), method: :delete %></td>
  </tr>
</table>