<table>
  <tr>
    <td>
      <%= link_to user_path(@post.user.id) do %>
        <%= @post.user.account_name %>
      <% end %>
    </td>
    <td><%= @post.title %></td>
    <td><%= @post.genre.name %></td>
    <td><%= @post.text %></td>
    <td class="bookmarks_post_<%= @post.id %>"><%= render "user/book_marks/book_marks", post: @post %></td>
    <% if @post.user == current_user %>
      <td><%= link_to "編集", edit_post_path(@post.id) %></td>
      <td><%= link_to "削除", post_path(@post.id), method: :delete %></td>
    <% end %>
  </tr>
</table>
<table class="comments">
 <%= render 'user/comments/index', post: @post %>
</table>
<%= form_with model: [@post, @comment], local: false do |f|  %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
  <%= f.submit "送信" %>
<% end %>